
h1 {
    text-align: center;
}
h3{
    text-align: 150px;
    
}
.menu1{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
   
}
.menu{
     width: 10px;
    height: 5px;
    background: rgb(224, 224, 227);
    padding: 20px;
    margin: 10px;
    align-items: flex;
    border-radius: 5px;
}
.listaDeLivros{

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.livro {
   
    width: 300px;
    height: 200px;
    background: rgb(224, 224, 227);
    padding: 20px;
    margin: 10px;
    align-items: flex;
    border-radius: 8px;
    

}
.sobre {
    box-sizing: border-box;
    text-align: center;
    margin: 30px;
    padding: 10px;
    border: solid; 
    
}

